---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { article } from "@/links";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
---

<li
  class="-mx-4 block rounded p-4 transition-colors hover:bg-zinc-100 dark:hover:bg-zinc-900"
>
  <header>
    <a href={article(post.slug)} class="hover:underline">
      <h4 class="font-bold">{post.data.title}</h4>
    </a>
    <span class="cursor-default opacity-75">
      <FormattedDate date={post.data.pubDate} />
    </span>
    <span
      class="mx-2 cursor-default select-none align-text-top text-sm opacity-75"
      >/</span
    >
    <span class="cursor-default opacity-75">X minutes read</span>
  </header>

  {
    post.data.description ? (
      <p class="mt-2 cursor-default opacity-75">{post.data.description}</p>
    ) : null
  }
</li>
