---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section"> & {
  heading: string;
};

const { heading, class: className, ...props } = Astro.props;
---

<section class:list={[className]} {...props}>
  <h2
    class="mb-1 cursor-default select-none text-xs font-medium uppercase tracking-wide opacity-75"
  >
    {heading}
  </h2>

  <div class="text-base">
    <slot />
  </div>
</section>
