---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'section'> & {
  heading: string;
};

const { heading, class: className, ...props } = Astro.props;
---

<section class:list={[className, "px-4"]} {...props}>
  <h2 class="uppercase cursor-default select-none text-xs font-medium tracking-wide opacity-75 mb-1">
    {heading}
  </h2>

  <div class="text-base">
    <slot />
  </div>
</section>
