@import "./prose.css";
@import "./fonts/berkeley-mono.css";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.expressive-code .frame {
  box-shadow: unset !important;
}

:root {
  --site-container-width: 720px;
}

body {
  margin: 0;
  padding: 0;
}
