@import "./prose.css";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  --site-container-width: 720px;
}

body {
  margin: 0;
  padding: 0;
}

.rainbow {
  &> :nth-child(1n):hover {
    color: var(--red);
  }

  &> :nth-child(2n):hover {
    color: var(--green);
  }

  &> :nth-child(3n):hover {
    color: var(--yellow);
  }

  &> :nth-child(4n):hover {
    color: var(--blue);
  }

  &> :nth-child(5n):hover {
    color: var(--purple);
  }

  &> :nth-child(6):hover {
    color: var(--aqua);
  }
}
