@media (prefers-color-scheme: dark) {
  :root {
    --bg-0: var(--gruvbox-dark-4);
    --bg-1: var(--gruvbox-dark-3);
    --bg-2: var(--gruvbox-dark-2);
    --bg-3: var(--gruvbox-dark-1);
    --bg-4: var(--gruvbox-dark-0);
    --fg-0: var(--gruvbox-light-0);
    --fg-1: var(--gruvbox-light-1);
    --fg-2: var(--gruvbox-light-2);
    --fg-3: var(--gruvbox-light-3);
    --fg-4: var(--gruvbox-light-4);
    --red: var(--gruvbox-bright-red);
    --green: var(--gruvbox-bright-green);
    --yellow: var(--gruvbox-bright-yellow);
    --blue: var(--gruvbox-bright-blue);
    --purple: var(--gruvbox-bright-purple);
    --aqua: var(--gruvbox-bright-aqua);
    --orange: var(--gruvbox-bright-orange);
    --neutral-red: var(--gruvbox-neutral-red);
    --neutral-green: var(--gruvbox-neutral-green);
    --neutral-yellow: var(--gruvbox-neutral-yellow);
    --neutral-blue: var(--gruvbox-neutral-blue);
    --neutral-purple: var(--gruvbox-neutral-purple);
    --neutral-aqua: var(--gruvbox-neutral-aqua);
    --gray: var(--gruvbox-gray);

    --header-bg: var(--gruvbox-dark-0);
    --body-bg: var(--gruvbox-dark-1);
  }
}
