.prose {
  text-rendering: optimizeLegibility;
  max-width: unset !important;
  padding: 0;

  a {
    text-decoration: none;
    color: #205EA6;
    font-weight: normal;

    @media (prefers-color-scheme: dark) {
      & {
        color: #4385BE;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.035em;
  }

  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    color: var(--fg-0);

    &:hover {
      color: var(--fg-1);
      text-decoration: underline solid 2px;
    }
  }
}
