---
import Section from "@/components/Homepage/Section.astro";
import Default from "@/layouts/Default.astro";
---

<Default>
  <main class="space-y-24">
    <Section heading="Not Found" class="mt-24">
      <p>This page does not seem to exist.</p>
    </Section>
  </main>
</Default>
