---
import Section from "@/components/Homepage/Section.astro";
import BlogPost from "@/components/Homepage/BlogPost.astro";
import Project from "@/components/Homepage/Project.astro";
import Default from "@/layouts/Default.astro";
import { Location } from "@/components/Homepage/HoverCards/Location";
import { Employer } from "@/components/Homepage/HoverCards/Employer";
import { getCollection, getEntry } from "astro:content";

const latestBlogPosts = (
  await getCollection("blog", (entry) => entry.data.pubDate)
).slice(0, 3);

async function getProject(slug: string) {
  const project = await getEntry("projects", slug);
  if (!project) {
    throw new Error(`Project ${slug} not found!`);
  }
  return project;
}

const selectedProjects = [
  await getProject("keepac"),
  await getProject("chers"),
  await getProject("diy"),
  await getProject("dark-mode-daemon"),
];
---

<Default root={true}>
  <main class="space-y-24">
    <Section heading="Welcome" class="mt-24">
      <p>
        My name is Niclas. I live in
        <Location client:load />
        and work for
        <Employer client:load /> as a developer on the data team. This is my personal
        website.
      </p>
    </Section>

    <Section heading="Projects" class="pb-6" href="/projects">
      <p>
        A list of my personal projects. There are more, <a
          class="underline"
          href="/projects">click here</a
        > to view all.
      </p>

      <ul class="-mx-4 mt-4 grid auto-rows-fr grid-cols-2 gap-2">
        {selectedProjects.map((project) => <Project project={project} />)}
      </ul>
    </Section>

    <Section heading="Blog" href="/blog">
      <p>The latest and greatest. Mostly technical.</p>

      <ol class="mt-4 space-y-2">
        {latestBlogPosts.map((post) => <BlogPost post={post} />)}
      </ol>
    </Section>
  </main>
</Default>
