---
import HeaderLink from "./HeaderLink.astro";
import LetterRainbow from "./LetterRainbow.astro";
import { SITE_TITLE } from '../consts';
import { article } from "../links";

interface Props {
	page?: {
    href: string;
    text: string;
  };
}

const { page } = Astro.props;
---

<header class="top-navigation-container">
  <nav class="top-navigation">
    <a href="/" class="site-name rainbow">
      <LetterRainbow word={SITE_TITLE} />
    </a>

    { typeof page !== 'object' ? null : <>
      <span class="divider">/</span>
      <a href={page.href} class="sub-site">{page.text}</a>
    </span> }

    <div class="spacer"></div>

    <div class="internal-links">
      <!-- <HeaderLink href={article("")}>Blog</HeaderLink> -->
      <!-- <HeaderLink href="/about">About</HeaderLink> -->
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
  }

  .top-navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .top-navigation {
    width: 100%;
    max-width: var(--site-container-width);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--fg-4);

    &:hover {
      color: var(--fg-0);
    }
  }

  .divider {
    color: var(--fg-4);
    margin-inline: 0.5ch;
    user-select: none;
    cursor: normal;
  }

  nav a.site-name {
    margin-inline: 0;
    padding-inline: 0;
  }

  .site-name,
  .sub-site {
    text-decoration: none;
  }

  nav .sub-site {
    padding-left: 0 !important;
  }

  .spacer {
    flex: 1;
  }
</style>
