---
import { SITE_TITLE } from "../consts";

interface Props {
  page?: {
    href: string;
    text: string;
  };
}

const { page } = Astro.props;
---

<header class="flex flex-row place-content-center">
  <nav class="flex w-full max-w-3xl items-center justify-between">
    <a
      href="/"
      class="px-6 py-4 tracking-tight text-zinc-900/80 dark:text-zinc-100/40"
    >
      {SITE_TITLE}
    </a>

    {
      typeof page !== "object" ? null : (
        <>
          <span class="divider">/</span>
          <a href={page.href} class="sub-site">
            {page.text}
          </a>
        </>
      )
    }
  </nav>
</header>
<style>
  .divider {
    color: var(--fg-4);
    margin-inline: 0.5ch;
    user-select: none;
    cursor: normal;
  }

  .site-name,
  .sub-site {
    text-decoration: none;
  }

  nav .sub-site {
    padding-left: 0 !important;
  }

  .spacer {
    flex: 1;
  }
</style>
