---
import { type CollectionEntry, getCollection } from "astro:content";
import Default from "@/layouts/Default.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}

type Props = CollectionEntry<"projects">;
const { slug, forceTheme } = Astro.params;

const projects = await getCollection("projects");
const project = projects.find((page) => page.slug === slug);
if (!project) return Astro.redirect("/404");

const { Content } = await project.render();
---

<Default forceTheme={project.data.forceTheme}>
  <main class="mt-24">
    <article class="prose dark:prose-invert">
      <h1 class="text-4xl font-extrabold">
        {project.data.title}
      </h1>

      <Content />
    </article>
  </main>
</Default>
