---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import SiteContainer from "@/components/SiteContainer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={props.title ?? SITE_TITLE}
      description={props.description ?? SITE_DESCRIPTION}
    />
  </head>
  <body
    class="bg-white px-6 text-zinc-900 xl:px-0 dark:bg-black dark:text-zinc-200"
  >
    <Header />

    <SiteContainer>
      <slot />
    </SiteContainer>
  </body>
</html>
