---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import SiteContainer from "@/components/SiteContainer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
  root?: true;
  forceTheme?: "light" | "dark";
}

const props = Astro.props;
let htmlAttrs = {};

if (props.forceTheme) {
  htmlAttrs = {
    "data-theme": `${props.forceTheme}-plus`,
    class: props.forceTheme,
  };
}
---

<!doctype html>
<html lang="en" {...htmlAttrs}>
  <head>
    <BaseHead
      title={props.title ?? SITE_TITLE}
      description={props.description ?? SITE_DESCRIPTION}
    />
  </head>
  <body
    class="bg-white px-6 text-zinc-900 xl:px-0 dark:bg-black dark:text-zinc-200"
  >
    <Header root={props.root} />

    <SiteContainer>
      <slot />
    </SiteContainer>
  </body>
</html>
